<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/head :: common_head(~{::title}, ~{})">
    <title>产品管理</title>
    <!-- DataTables -->
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="common/navigation :: common_navbar">
        </nav>
        <!-- Main Sidebar Container -->
        <aside th:replace="common/navigation :: common_sidebar">
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>产品列表</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/index">主页</a></li>
                                <li class="breadcrumb-item">产品</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">                  		
                  <div class="card card-info card-outline">
		            <div class="card-header">
		              <div class="clearfix">					    
					    <div class="float-left">					        
					        <form>
							  <div class="form-row align-items-center">
							    <div class="col-auto">
							      <label class="sr-only" for="txtArtifactName">产品名称</label>
							      <div class="input-group mb-2">
							      	<input type="text" class="form-control" id="txtArtifactName" placeholder="请输入产品名称...">
							        <div class="input-group-append">
							          <button class="btn btn-info" type="button" id="btnFindArtifacts"><i class="fas fa-search"></i>&nbsp;查询</button>
							        </div>        
							      </div>
							    </div>
							    <div class="col-auto">
							      <div class="form-check mb-2">
							      <div class="icheck-info">
							        <input class="form-check-input" type="checkbox" id="chkOnlyProduct">
							        <label class="form-check-label" for="chkOnlyProduct">
							          	不显示零件
							        </label>							        
							      </div>
							      </div>
							    </div>
							    <div class="col-auto">
							      <div class="form-check mb-2">
							      <div class="icheck-info">
							        <input class="form-check-input" type="checkbox" id="chkCanSplit">
							        <label class="form-check-label" for="chkCanSplit">
							          	可查询明细
							        </label>							        
							      </div>
							      </div>
							    </div>
							  </div>
							</form>				        
					        
					    </div>
					    <div class="float-right row">
					    	<div class="col" shiro:hasAnyPermissions="artifact:add">
					    		<button class="btn btn-info" type="button" id="btnNewArtifact" onclick="newArtifact()">
					    			<i class="fas fa-database mr-1"></i>添加产品
					    		</button>
					    	</div>
					    	<div id="divButtons" class="mr-2"></div>	
					    </div>				    
					  </div>
		            </div>
		            <!-- /.card-header -->            
		            <div class="card-body">		              
		              <table id="tableArtifacts" class="table table-hover table-striped row-border">
						<thead>
				            <tr>
				                <th>Id</th>
				                <th>#</th>
				                <th>图号</th>
				                <th>名称</th>
				                <th>产品型号</th>				                
				                <th>材料代码</th>
				                <th>材料名称</th>
				                <th>重量</th>
				                <th>备注</th>
				                <th></th>
				            </tr>
				        </thead>
		              </table>
		            </div>
		            <!-- /.card-body -->
		          </div>
		          <!-- /.card -->
                
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
        	<!-- 新建或编辑零件对话框 -->
			<div class="modal fade" id="modal-artifact">
	          <div class="modal-dialog">
		          <div class="modal-content">
		            <div class="modal-header">
		              <h4 class="modal-title" id="dlgArtifactTitle">管理零件</h4>
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		              </button>
		            </div>		          
			        <!-- form start -->
		            <form class="form-horizontal" id="frmArtifact">
		                <div class="card-body">
		                  <div class="form-group row">
		                    <label for="dlgArtifactCode" class="col-sm-2 col-form-label">图号</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control is-warning" id="dlgArtifactCode" name="artifactCode" placeholder="图号">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgArtifactName" class="col-sm-2 col-form-label">名称</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control is-warning" id="dlgArtifactName" name="artifactName" placeholder="名称">
		                    </div>
		                  </div>		                  
		                  <div class="form-group row">
		                    <label for="dlgArtifactWeight" class="col-sm-2 col-form-label">重量</label>
		                    <div class="col-sm-10">
		                      <input type="number" class="form-control is-warning" id="dlgArtifactWeight" name="weight" placeholder="重量">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgMaterialCode" class="col-sm-2 col-form-label">材料码</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control" id="dlgMaterialCode" name="materialCode" placeholder="材料代码">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgMaterialName" class="col-sm-2 col-form-label">材料名</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control" id="dlgMaterialName" name="materialName" placeholder="材料名称">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgArtifactFlag" class="col-sm-2 col-form-label">类型</label>
		                    <div class="col-sm-10">		                      
		                      <select class="form-control" id="dlgArtifactFlag" name="productFlag">
		                          <option value ="0">产品</option>
		                          <option value ="1">零件</option>
		                      </select>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgProductModel" class="col-sm-2 col-form-label">型号</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control" id="dlgProductModel" name="productModel" placeholder="产品型号">
		                    </div>
		                  </div>	                  
		                  <div class="form-group row">
		                  	<label for="" class="col-sm-2 col-form-label">分解</label>
		                    <div class="col-sm-10">
		                      <div class="icheck-info">
		                        <input type="checkbox" class="form-check-input" id="dlgCanSplit" name="canBeSplit">
		                        <label class="form-check-label" for="dlgCanSplit">可拆分为更多子零件</label>
		                      </div>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgArtifactMemo" class="col-sm-2 col-form-label">备注</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control" id="dlgArtifactMemo" name="artifactMemo" placeholder="备注">
		                    </div>
		                  </div>
		                </div>
		                <!-- /.card-body -->
		                <div class="card-footer">
		                  <button type="button" class="btn btn-info" id="btnSaveArtifact">保存</button>
		                  <button type="button" class="btn btn-default float-right" data-dismiss="modal">取消</button>
		                </div>
		                <!-- /.card-footer -->
		            </form>
		          
		          </div>
		          <!-- /.modal-content -->
		        </div>
		        <!-- /.modal-dialog -->
	        </div>
	        <!-- /.modal -->

        <!-- footer -->
        <footer th:replace="common/footer :: common_footer"></footer>        
    </div>
    <!-- ./wrapper -->    
	<div th:replace="common/footer :: common_js"></div>	
	<!-- Datatables -->
	<script type="text/javascript" src="/plugins/datatables/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-bs4/js/dataTables.bootstrap4.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-buttons/js/buttons.html5.min.js"></script>
	<script type="text/javascript" src="/plugins/datatables/jszip/jszip.min.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-buttons/js/buttons.print.min.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>	
	<!-- artifact -->
	<script type="text/javascript" src="/js/pages/artifact.js"></script>	
</body>
</html>