<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/head :: common_head(~{::title}, ~{})">
    <title>产品明细</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="common/navigation :: common_navbar">
        </nav>
        <!-- Main Sidebar Container -->
        <aside th:replace="common/navigation :: common_sidebar">
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>产品明细</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/index">主页</a></li>
                                <li class="breadcrumb-item"><a href="/artifact">产品</a></li>
                                <li class="breadcrumb-item">产品明细</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                	<!-- card 开始 -->                
	                <div class="card card-info card-outline">
			          <div class="card-header">
						    <div class="float-right">						    
						    	<div class="d-inline ml-1" shiro:hasAnyPermissions="detail:add"><button class="btn btn-info" type="button" id="btnNewDetail" onclick="newDetail()"><i class="fa fa-cog mr-1"></i>新增明细</button></div>
						    	<div class="d-inline ml-1" shiro:hasAnyPermissions="detail:export,detail:print"><button class="btn btn-secondary" type="button" id="btnExportDetail"><i class="fa fa-download mr-1"></i>导出到Excel</button></div>
						    </div>
			          </div>
			          <!-- 这里放各tabs列出的明细表格 -->
			          <div class="card-body" id="detailCardBody">	
			          
			          
           
		            
		           
		              </div><!-- /.card-body -->
	            	</div><!-- /.card -->                
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
        <!-- 新建或编辑明细对话框 -->
		<div class="modal fade" id="modal-artifactDetail">
	          <div class="modal-dialog">
		          <div class="modal-content">
		            <div class="modal-header">
		              <h4 class="modal-title" id="dlgDetailTitle">管理明细</h4>
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		              </button>
		            </div>		          
			        <!-- form start -->
		            <form class="form-horizontal" id="frmDetail">
		                <div class="card-body">
		                	<div class="form-group row">
		                    <label for="dlgArtifactCode" class="col-sm-3 col-form-label">零件图号</label>
		                    <div class="col-sm-9">
		                      <input type="text" class="form-control is-warning" id="dlgArtifactCode" name="artifactCode" placeholder="零件图号">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgArtifactName" class="col-sm-3 col-form-label">零件名称</label>
		                    <div class="col-sm-9">
		                      <input type="text" class="form-control is-warning" id="dlgArtifactName" name="artifactName" placeholder="零件名称">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgMaterialCode" class="col-sm-3 col-form-label">材料代码</label>
		                    <div class="col-sm-9">
		                      <input type="text" class="form-control" id="dlgMaterialCode" name="materialCode" placeholder="材料代码">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgMaterialName" class="col-sm-3 col-form-label">材料名称</label>
		                    <div class="col-sm-9">
		                      <input type="text" class="form-control" id="dlgMaterialName" name="materialName" placeholder="材料名称">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgArtifactWeight" class="col-sm-3 col-form-label">零件重量</label>
		                    <div class="input-group col-sm-9">
		                      <input type="number" class="form-control" id="dlgArtifactWeight" name="weight" placeholder="零件重量">
		                      <div class="input-group-append">
			                    <span class="input-group-text">kg</span>
			                  </div>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgNumber" class="col-sm-3 col-form-label">需要数量</label>
		                    <div class="col-sm-9">
		                      <input type="number" class="form-control is-warning" id="dlgNumber" name="number" placeholder="需要数量">
		                    </div>
		                  </div>	                  
		                  <div class="form-group row">
		                  	<label for="" class="col-sm-3 col-form-label">零件分解</label>
		                    <div class="col-sm-9">
		                      <div class="icheck-info">
		                        <input type="checkbox" class="form-check-input" id="dlgNeedSplit" name="needSplit">
		                        <label class="form-check-label" for="dlgNeedSplit">需要进一步分拆得到下级明细</label>
		                      </div>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgDetailMemo" class="col-sm-3 col-form-label">备注信息</label>
		                    <div class="col-sm-9">
		                      <input type="text" class="form-control" id="dlgDetailMemo" name="detailMemo" placeholder="备注信息">
		                    </div>
		                  </div>
		                </div>
		                <!-- /.card-body -->
		                <div class="card-footer">
		                  <button type="button" class="btn btn-info" id="btnSaveDetail">保存</button>
		                  <button type="button" class="btn btn-default float-right" data-dismiss="modal">取消</button>
		                </div>
		                <!-- /.card-footer -->
		            </form>
		          
		          </div>
		          <!-- /.modal-content -->
		        </div>
		        <!-- /.modal-dialog -->
	    </div>
	    <!-- /.modal -->
	    
	    <!-- 会签对话框 -->
		<div class="modal fade" id="modal-inspect">
	          <div class="modal-dialog">
		          <div class="modal-content">
		            <div class="modal-header">
		              <h4 class="modal-title" id="dlgInspectTitle">明细会签</h4>
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		              </button>
		            </div>		          
			        <!-- form start -->
		            <form class="form-horizontal" id="frmInspect">
		                <div class="card-body">
		                	<div class="form-group row">
		                    <label for="dlgInspectArtifactCode" class="col-sm-2 col-form-label">图号</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control" id="dlgInspectArtifactCode" name="nnspectArtifactCode" placeholder="图号" readonly>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgInspectArtifactName" class="col-sm-2 col-form-label">名称</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control" id="dlgInspectArtifactName" name="inspectArtifactName" placeholder="名称" readonly>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgDimension" class="col-sm-2 col-form-label">尺寸</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control is-warning" id="dlgDimension" name="dimension" placeholder="长cm*宽cm*高cm（直径cm*长cm）">
		                    </div>
		                  </div>	                  
		                  <div class="form-group row">
		                    <label for="dlgUnit" class="col-sm-2 col-form-label">单位</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control" id="dlgUnit" name="unit" placeholder="单位">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgClassificationSign" class="col-sm-2 col-form-label">密度</label>
		                    <div class="input-group col-sm-10">
		                      <input type="number" class="form-control" id="dlgFeature" name="feature" placeholder="密度">
		                      <div class="input-group-append">
			                    <span class="input-group-text">g/cm^3</span>
			                  </div>
			                  <input type="hidden" class="form-control" id="dlgFactor" name="factor">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgQuota" class="col-sm-2 col-form-label">定额</label>
		                    <div class="input-group col-sm-10">
		                      <input type="text" class="form-control is-warning" id="dlgQuota" name="quota" placeholder="定额">
		                      <span class="input-group-append">
			                    <button type="button" class="btn btn-info btn-flat" id="btnCalQuota" onclick="calculateQuota()">计&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;算</button>
			                  </span>
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgWorkingSteps" class="col-sm-2 col-form-label">工序</label>
		                    <div class="col-sm-10">
		                      <select class="form-control" id="dlgWorkingSteps"  name="workingSteps">
		                      </select>
		                    </div>
		                  </div>		                  
		                </div>
		                <!-- /.card-body -->
		                <div class="card-footer">
		                  <button type="button" class="btn btn-info" id="btnSaveInspect">保存</button>
		                  <button type="button" class="btn btn-default float-right" data-dismiss="modal">取消</button>
		                </div>
		                <!-- /.card-footer -->
		            </form>
		          
		          </div>
		          <!-- /.modal-content -->
		        </div>
		        <!-- /.modal-dialog -->
	    </div>
	    <!-- /.modal -->

        <!-- footer -->
        <footer th:replace="common/footer :: common_footer"></footer>        
    </div>
    <!-- ./wrapper -->    
	<div th:replace="common/footer :: common_js"></div>
	<!-- detail -->
	<script type="text/javascript" src="/js/pages/detail.js"></script>	
</body>
</html>