<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/head :: common_head(~{::title}, ~{::style})">
    <title>明细导入</title>
    <style type="text/css"> 
    	.custom-file-input:lang(zh) ~ .custom-file-label::after { 
    		content: "浏览";    		
    	}	
    </style> 
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="common/navigation :: common_navbar">
        </nav>
        <!-- Main Sidebar Container -->
        <aside th:replace="common/navigation :: common_sidebar">
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>导入明细</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/index">主页</a></li>
                                <li class="breadcrumb-item"><a href="javascript:sessionStorage.setItem('activemenu', 'menuartifact');window.location = '/artifact';">产品</a></li>
                                <li class="breadcrumb-item">导入明细</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">                
                
	                <div class="row">
			          <!-- left column -->
			          <div class="col-md-12">
			          	<div class="alert alert-danger alert-dismissible">
							<h5><i class="icon fas fa-exclamation-triangle"></i> 警告</h5>
		                  	将 MDB 文件中的明细数据导入数据库时，某些零件可能会与库中已有零件产生冲突，这完全取决于设计零件时设定的图号！
		                </div>			          	
			            <!-- general form elements -->
			            <div class="card card-info card-outline">
			              <div class="card-header">
			                <h3 class="card-title">将 MDB 文件中的明细数据上传到数据库</h3>
			              </div>
			              <!-- /.card-header -->
			              <!-- form start -->
			              <form role="form" id="frmUploadFile">
			                <div class="card-body">				              
			                  <div class="form-group">
			                    <label for="">冲突操作：</label>			                   
			                  	<div class="icheck-success mt-2">
			                        <input type="radio" id="radioConflict1" name="radioConflict" value="1" checked>
			                        <label for="radioConflict1" class="text-success">忽略冲突零件</label>
			                    </div>
			                  	<div class="icheck-danger">
			                        <input type="radio" id="radioConflict2" name="radioConflict" value="2">
			                        <label for="radioConflict2" class="text-danger">覆盖库中零件</label>
			                    </div>			                    
			                  </div>
			                  <div class="form-group mt-5">
			                    <label for="inputFile">明细 MDB 文件：</label>
			                    <div class="input-group mt-2">
			                      <div class="custom-file">
			                        <input type="file" class="custom-file-input" id="inputFile" name="uploadFile" lang="zh">
			                        <label class="custom-file-label" for="inputFile" id="lblUploadFile">请选择上传文件...</label>
			                      </div>
			                      <div class="input-group-append">
			                        <button type="button" class="input-group-text" id="btnUploadFile">上传</button>
			                      </div>
			                    </div>
			                  </div>
			                </div>
			                <!-- /.card-body -->
			
			                <div class="card-footer" shiro:hasAnyPermissions="system:all,detail:import">
			                  <button type="button" class="btn btn-info" id="btnSubmit">提交</button>
			                </div>
			              </form>
			            </div>
			            <!-- /.card -->
			           </div>
			       	</div>
			       	<!-- /.row -->
                
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- footer -->
        <footer th:replace="common/footer :: common_footer"></footer>        
    </div>
    <!-- ./wrapper -->    
	<div th:replace="common/footer :: common_js"></div>
	<!-- bs-custom-file-input -->
	<script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
	<!-- importdetail -->
	<script type="text/javascript" src="/js/pages/importdetail.js"></script>	
</body>
</html>