<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/head :: common_head(~{::title}, ~{})">
    <title>具有下层零件的图号标签</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="common/navigation :: common_navbar">
        </nav>
        <!-- Main Sidebar Container -->
        <aside th:replace="common/navigation :: common_sidebar">
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>组件标签</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/index">主页</a></li>
                                <li class="breadcrumb-item">组件标签</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                	<div class="alert alert-secondary alert-dismissible">
						<h5><i class="icon fas fa-info"></i> 说明</h5>
		                                        组件标签管理功能用于实现确定具有什么样的前缀的图号表示其具有下一层的子零件！
		            </div>
                    <div class="card card-info card-outline">
                        <div class="card-header">
                            <div class="clearfix">
                                <div class="float-left">
                                </div>
                                <div class="float-right row">
                                    <div class="col" shiro:hasAnyPermissions="system:all,needsplitprefix:add">
                                        <button class="btn btn-info" type="button" id="btnNewNeedsplitprefix" onclick="newNeedsplitprefix()">
                                            <i class="fas fa-flag mr-2"></i>添加标签
                                        </button>
                                    </div>
                                    <div id="divButtons" class="mr-2"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row" id="rowNeedsplitprefix">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- 新建或编辑图号标签对话框 -->
        <div class="modal fade" id="modal-needsplitprefix">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="dlgNeedsplitprefixTitleWnd">管理标签</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- form start -->
                    <form class="form-horizontal" id="frmNeedsplitprefix">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="dlgPrefixLabel" class="col-sm-3 col-form-label">组件标签</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="dlgPrefixLabel" name="prefixLabel" placeholder="组件标签">
                                </div>
                            </div> 
                            <div class="form-group row">
                                <label for="dlgPrefixProduct" class="col-sm-3 col-form-label">组件类型</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="dlgPrefixProduct" name="prefixProduct">                                        
                                        <option value ="false">零件</option>
                                        <option value ="true" >产品</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-info" id="btnSaveNeedsplitprefix">保存</button>
                            <button type="button" class="btn btn-default float-right" data-dismiss="modal">取消</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- footer -->
        <footer th:replace="common/footer :: common_footer"></footer>        
    </div>
    <!-- ./wrapper -->    
	<div th:replace="common/footer :: common_js"></div>
	<!-- Datatables -->
	<script type="text/javascript" src="/plugins/datatables/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-bs4/js/dataTables.bootstrap4.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>	
	<!-- needsplitprefix -->
	<script type="text/javascript" src="/js/pages/needsplitprefix.js"></script>	
</body>
</html>