<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/head :: common_head(~{::title}, ~{::link})">
    <title>角色管理</title>
    <link rel="stylesheet" href="/plugins/pagination-2.1.5/pagination.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="common/navigation :: common_navbar">
        </nav>
        <!-- Main Sidebar Container -->
        <aside th:replace="common/navigation :: common_sidebar">
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>角色列表</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/index">主页</a></li>
                                <li class="breadcrumb-item">角色</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
 					<!-- card 开始 -->                
	                <div class="card card-info card-outline">
			          <div class="card-header">
						    <div class="d-flex flex-wrap">
							  <div class="p-2 flex-grow-1">
							  	<form>
								  <div class="form-row align-items-center">
								    <div class="col-auto">
								      <label class="sr-only" for="txtRoleAlias">角色名称</label>
								      <div class="input-group mb-2">
								      	<input type="text" class="form-control" id="txtRoleAlias" placeholder="请输入角色名称...">
								        <div class="input-group-append">
								          <button class="btn btn-info" type="button" id="btnFindRoles"><i class="fas fa-search"></i>&nbsp;查询</button>
								        </div>        
								      </div>
								    </div>
								  </div>
								</form>	
							  </div>
							  <div class="p-2" shiro:hasAnyPermissions="role:add">
							  	<button class="btn btn-info" type="button" id="btnNewRole" onclick="newRole()">
							  		<i class="fa fa-street-view mr-2"></i>添加角色
							  	</button>
							  </div>
							</div>
			          </div>
			          <!-- /.card-header -->
			          <!-- 这里列出各个角色 -->
			          <div class="card-body" id="roleCardBody">	
		            
		           
		              </div>
		              <!-- /.card-body -->
	            	  <div class="card-footer">
		                  <div id="pagination-role" class="d-flex justify-content-end"></div>
		              </div>
		              <!-- /.card-footer -->
	            	</div>
	            	<!-- /.card -->                 
                </div>            
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
        <!-- 新建或编辑角色对话框 -->
		<div class="modal fade" id="modal-role">
			<div class="modal-dialog">
		          <div class="modal-content">
		            <div class="modal-header">
		              <h4 class="modal-title" id="dlgRoleTitle">用户管理</h4>
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		              </button>
		            </div>		          
			        <!-- form start -->
		            <form class="form-horizontal" id="frmRole">
		                <div class="card-body">
		                  <div class="form-group row">
		                    <label for="dlgRoleName" class="col-sm-2 col-form-label">角色</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control is-warning" id="dlgRoleName" placeholder="角色">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgRoleAlias" class="col-sm-2 col-form-label">别名</label>
		                    <div class="col-sm-10">
		                      <input type="text" class="form-control is-warning" id="dlgRoleAlias" placeholder="别名">
		                    </div>
		                  </div>
		                  <div class="form-group row">
		                    <label for="dlgRolePermission" class="col-sm-2 col-form-label">权限</label>
		                    <div class="col-sm-10">
		                      <select class="select2bs4" multiple="multiple" id="dlgRolePermission" style="width: 100%;">
		                      </select>
		                    </div>
		                  </div>		                  
		                </div>
		                <!-- /.card-body -->
		                <div class="card-footer">
		                  <button type="button" class="btn btn-info" id="btnSaveRole">保存</button>
		                  <button type="button" class="btn btn-default float-right" data-dismiss="modal">取消</button>
		                </div>
		                <!-- /.card-footer -->
		            </form>
		          
		          </div>
		          <!-- /.modal-content -->
		        </div>
		        <!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

        <!-- footer -->
        <footer th:replace="common/footer :: common_footer"></footer>        
    </div>
    <!-- ./wrapper -->    
	<div th:replace="common/footer :: common_js"></div>
	<!-- pagination -->
	<script type="text/javascript" src="/plugins/pagination-2.1.5/pagination.min.js"></script>
	<!-- role -->
	<script type="text/javascript" src="/js/pages/role.js"></script>	
</body>
</html>