<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/head :: common_head(~{::title}, ~{})">
    <title>工艺路线</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="common/navigation :: common_navbar">
        </nav>
        <!-- Main Sidebar Container -->
        <aside th:replace="common/navigation :: common_sidebar">
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>工序列表</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/index">主页</a></li>
                                <li class="breadcrumb-item">工艺路线</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-info card-outline">
                        <div class="card-header">
                            <div class="clearfix">
                                <div class="float-left">
                                </div>
                                <div class="float-right row">
                                    <div class="col" shiro:hasAnyPermissions="workingsteps:add">
                                        <button class="btn btn-info" type="button" id="btnNewWorkingsteps" onclick="newWorkingsteps()">
                                            <i class="fas fa-wrench mr-2"></i>添加工序
                                        </button>
                                    </div>
                                    <div id="divButtons" class="mr-2"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row" id="rowWorkingsteps">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- 新建或编辑工序对话框 -->
        <div class="modal fade" id="modal-workingsteps">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="dlgWorkingstepsTitleWnd">管理工序</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- form start -->
                    <form class="form-horizontal" id="frmWorkingsteps">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="dlgWorkingstepName" class="col-sm-3 col-form-label">工序名称</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="dlgWorkingstepName" name="workingstepName" placeholder="工序名称">
                                </div>
                            </div> 
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-info" id="btnSaveWorkingsteps">保存</button>
                            <button type="button" class="btn btn-default float-right" data-dismiss="modal">取消</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- footer -->
        <footer th:replace="common/footer :: common_footer"></footer>        
    </div>
    <!-- ./wrapper -->    
	<div th:replace="common/footer :: common_js"></div>
	<!-- Datatables -->
	<script type="text/javascript" src="/plugins/datatables/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-bs4/js/dataTables.bootstrap4.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="/plugins/datatables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>	
	<!-- workingsteps -->
	<script type="text/javascript" src="/js/pages/workingsteps.js"></script>	
</body>
</html>